{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row banner">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ store.name }}</h1>
		</div>
	</div>
	
	<div class="row padding-top padding-bottom navigation">
		<div class="col-md-12 padding-none">
			<a href="{{url_for('editStore', store_id=store.id )}}">
				Edit Store
			</a> | 
			<a href="{{url_for('newProduct', store_id=store.id )}}">
				Add Product
			</a> | 
			<a href="{{url_for('deleteStore', store_id=store.id )}}">
				Delete Store
			</a>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4 categories">
			<h2>Categories</h2>
			{% for category in categories %}
				<h3><a href="{{ url_for('showCatalog', store_id=store.id, category=category.category) }}">{{ category.category }}</a></h3>
			{% endfor %}
		</div>
		<div class="col-md-8 products">
			<h2>{{ section_title }}</h2>
			{% for product in products %}
				<h3><a href="{{ url_for('showProduct', store_id=store.id, product_id=product.id, category=product.category) }}">{{ product.name }}</a></h3>
			{% endfor %}
		</div>
	</div>
{% endblock %}
