<div class="row top-menu">
	<div class="col-md-4 col-sm-4 col-xs-4">
		<a href="{{url_for('showStores')}}">
			<button class="btn btn-default" id="all-stores">
				Show All Stores
			</button>
		</a>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-4 text-center">
		<h3 class="padding-none">Catalog App</h3>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-4 text-right">
		{%if 'username' not in session %}
			<!-- GOOGLE PLUS SIGN IN-->
			<div id="signInButton">
				<span class="g-signin" 
					data-scope="openid email" 
					data-clientid="22976588037-cacm8k0hnn3orq2nms0kt648kpkldrmk.apps.googleusercontent.com" 
					data-redirecturi="postmessage" 
					data-cookiepolicy="single_host_origin" 
					data-callback="signInCallback" 
					data-approvalprompt="force">
				</span>
			</div>
			
			<script>
			function signInCallback(authResult) {
				if (authResult['code']) {
					// Send the one-time-use code to the server, if the server responds, write a 
					// 'login successful' message to the web page and then redirect back to the stores directory
					$.ajax({
						type: 'POST',
						url: '/gconnect?state={{ state }}',
						processData: false,
						data: authResult['code'],
						contentType: 'application/octet-stream; charset=utf-8',
						success: function(result) {
							// Handle or verify the server response if necessary.
							if (result) {
								location.reload();
							} else if (authResult['error']) {
								console.log('There was an error: ' + authResult['error']);
							} else {
								$('#result').html('Failed to make a server-side call. Check your configuration and console.');
							}
						}
					}); 
				}
			}
			</script>
			<!--END GOOGLE PLUS SIGN IN -->
		{% else %}
			<a href="{{ url_for('gdisconnect') }}">
				<button class="btn btn-default" id="all-stores">
					Logout
				</button>
			</a>
		{% endif %}
	</div>
</div>
<div class="row divider">
	<div class="col-md-12"></div>
</div>
<div class="flash">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li> <strong> {{ message }} </strong> </li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
</div>