<div class="row top-menu">
	<div class="col-md-4 col-sm-4 col-xs-4">
		<a href="{{url_for('showStores')}}">
			<button class="btn btn-default" id="all-stores">
				Show All Stores
			</button>
		</a>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-4 text-center">
		<h3 class="padding-none">Catalog App</h3>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-4 text-right">
		{%if 'username' not in session %}
			<a href="{{ url_for('showLogin') }}">
				<button class="btn btn-default" id="all-stores">
					Login
				</button>
			</a>
		{% else %}
			<a href="{{ url_for('gdisconnect') }}">
				<button class="btn btn-default" id="all-stores">
					Logout
				</button>
			</a>
		{% endif %}
	</div>
</div>
<div class="row divider">
	<div class="col-md-12"></div>
</div>
<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li> <strong> {{ message }} </strong> </li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
</div>